body {
    background-color: rgb(143, 195, 255);
    max-height: 100%;
}

#mainPart {
    display: none;
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#p1name {
    text-align: center;
}

.char {
    position: absolute;
    /*border: 1px solid #000000;*/
}

#warden {
    left: 30%;
    top: 10%;
    height: 60%;
    width: 40%;
}

#table {
    width: 40%;
    height: 30%;
    left: 30%;
    top: 37.5%;
}

#playername {
    position: absolute;
    border: 1px solid #000;
    width: 20%;
    height: 5%;
    left: 15%;
    top: 17.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player1 {
    width: 30%;
    height: 40%;
    left: 10%;
    bottom: 37.5%;
    transform: scaleX(-1);
}
#player1M {
    position: absolute;
    left: 5%;
    bottom: 25%;
    font-size: 50px;
}

#player2name {
    position: absolute;
    border: 1px solid #000;
    width: 20%;
    height: 5%;
    right: 15%;
    top: 17.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player2{
    width: 30%;
    height: 40%;
    right: 10%;
    bottom: 37.5%;
}

#player2M {
    position: absolute;
    right: 5%;
    bottom: 25%;
    font-size: 50px;
}

button {
    position: absolute;
}

#betray {
    border: 6px solid #656565;
    background-color: #9aff7e;
    border-radius: 20px;
    color: #656565;
    font-size: 50px;
    width: 40%;
    left: 1%;
    bottom: 10%;
    z-index: 2;
}

#betray:hover {
    background-color: #656565;
    color: #9aff7e;
    cursor: pointer;
}

#cooperate {
    border: 6px solid #656565;
    background-color: #9aff7e;
    border-radius: 20px;
    color: #656565;
    font-size: 50px;
    width: 40%;
    right: 1%;
    bottom: 10%;
    z-index: 2;
}

#cooperate:hover {
    background-color: #656565;
    color: #9aff7e;
    cursor: pointer;
}



#bots:hover {
    background-color: #656565;
    color: #9aff7e;
    cursor: pointer;
}

#coinsTotal1 {
    font-size: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    border: 3px solid #000000;
    padding: 5%;
    margin-top: 10%;
}

#coinsTotal2 {
    font-size: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    border: 3px solid #000000;
    padding: 5%;
    margin-top: 10%;
}

#games{
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    font-weight: bolder;
    z-index: 2;
}

#lastScene {
    font-size: 50px;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 3px solid #000000;
    padding: 5%;
    margin-top: 10%;
}

#history {
    background-color: #7ed6ff;
    border: 3px solid #000000;
    font-size: 50px;
    text-align: center;
    margin-top: 10%;
}

table {
    display: none;
    width: auto;
    border: 3px solid #000000;
    background-color: #7ed6ff;
    font-size: 50px;
    padding: 5%;
}

th,td {
    margin: 100%;
    text-align: center;
    border-radius: 100px;
}

#p1game {
    border: 3px solid #000000;
    background-color: #9aff7e;
}

#p2game {
    border: 3px solid #000000;
    background-color: #eeff7e;
}